In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Data collection and Preprocessing

In [2]:
mail = pd.read_csv('datasets/mail_data.csv')

In [3]:
# top 5 rows of dataset
mail.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
# last 5 rows of dataset
mail.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [6]:
print(mail)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
mail_data = mail.where((pd.notnull(mail)),'')

In [8]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
mail_data.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [10]:
# checking the size of dataset
mail_data.shape

(5572, 2)

In [11]:
# replace ham with 1 and spam with 0
mail_data['Category']=mail_data['Category'].replace(['spam','ham'],[0,1])

In [12]:
mail_data['Category'].unique()

array([1, 0], dtype=int64)

In [13]:
# separating the data as texts and labels
X = mail_data['Message']
Y = mail_data['Category']

In [14]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [15]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [16]:
# splitting the data into training data and test data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=3)

In [17]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

## Feature Extraction

In [19]:
# trasform the text data to feature vectors that can be used as input to the Logistic Regression
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')

In [21]:
X_train_feature = feature_extraction.fit_transform(X_train)
X_test_feature = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [23]:
print(X_test_feature)

  (0, 7271)	0.1940327008179069
  (0, 6920)	0.20571591693537986
  (0, 5373)	0.2365698724638063
  (0, 5213)	0.1988547357502182
  (0, 4386)	0.18353336340308998
  (0, 1549)	0.2646498848307188
  (0, 1405)	0.3176863938914351
  (0, 1361)	0.25132445289897426
  (0, 1082)	0.2451068436245027
  (0, 1041)	0.28016206931555726
  (0, 405)	0.2381316303003606
  (0, 306)	0.23975986557206702
  (0, 20)	0.30668032384591537
  (0, 14)	0.26797874471323896
  (0, 9)	0.2852706805264544
  (0, 1)	0.2381316303003606
  (1, 7368)	0.29957800964520975
  (1, 6732)	0.42473488678029325
  (1, 6588)	0.3298937975962767
  (1, 6507)	0.26731535902873493
  (1, 6214)	0.3621564482127515
  (1, 4729)	0.22965776503163893
  (1, 4418)	0.3457696891316818
  (1, 3491)	0.496093956101028
  (2, 7205)	0.22341717215670331
  :	:
  (1110, 3167)	0.5718357066163949
  (1111, 7353)	0.4991205841293424
  (1111, 6787)	0.40050175714278885
  (1111, 6033)	0.4714849709283488
  (1111, 3227)	0.44384935772735523
  (1111, 2440)	0.4137350055985486
  (1112, 7071)	0.33558524648843113
  (1112, 6777)	0.32853717524096393
  (1112, 6297)	0.3056896872268727
  (1112, 5778)	0.22807428098549426
  (1112, 5695)	0.3381604952481646
  (1112, 5056)	0.2559183043595413
  (1112, 4170)	0.3307835623173863
  (1112, 2329)	0.241856898377491
  (1112, 1683)	0.4017087436272034
  (1112, 1109)	0.35334496762883244
  (1113, 4080)	0.3045947361955407
  (1113, 4038)	0.37023520529413706
  (1113, 3811)	0.28103080586555096
  (1113, 3281)	0.33232508601719535
  (1113, 3113)	0.33840833425155675
  (1113, 2852)	0.5956422931588335
  (1113, 2224)	0.3337959267435311
  (1114, 4557)	0.5196253874825217
  (1114, 4033)	0.8543942045002639

In [24]:
# Training the model 
# Logistic Regression

In [25]:
logreg = LogisticRegression()

In [26]:
# training the logistic regression model with training data
logreg.fit(X_train_feature,Y_train)

LogisticRegression()

In [27]:
# evaluating the trained model
# prediction on training data
prediction_on_training = logreg.predict(X_train_feature)
acc_training = accuracy_score(Y_train, prediction_on_training)

In [28]:
print(acc_training)

0.9670181736594121

In [29]:
# evaluating the model
# prediction on testing data
prediction_on_testing = logreg.predict(X_test_feature)
acc_testing = accuracy_score(Y_test, prediction_on_testing)

In [30]:
print(acc_testing)

0.9659192825112107

## building the prediction model

In [33]:
input_mail = ["XXXMobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. xxxmobilemovieclub.com?n=QJKGIGHJJGCBL"]

# convert text to feature vector
input_data_features = feature_extraction.transform(input_mail)

# prediction
prediction = logreg.predict(input_data_features)

In [34]:
print(prediction)

[0]